@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Azeret Mono", monospace;
}

/* Hero section stles  */
#hero{
    width: 100%;
    height: 70%;
    background-image: url(../images/Hero-bg.png);
    display: flex;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.hero-bg {
    width: 1440px;
    height: 652px;
    position: absolute;
    left: 0;
    right: 0;
}
.hero-content {
    max-width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.hero-content-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.hero-content-title h1 {
    color: rgb(13, 19, 33);
    font-size: 30px;
    font-weight: 800;
    margin: 20px 0;
}
.hero-content-title p{
    font-size: 16px;
    font-weight:400;
}
.hero-image {
    margin-top: 26px;
}

.hero-content-btn {
    border: 1.5px solid rgb(13, 19, 33);
    outline: none;
    width: 208px;
    height: 66px;
    background-color: rgb(13, 19, 33);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 21px 24px;
    border-radius: 8px;
    margin-top: 30px;
    transition: all .2s ease;
}

.hero-content-btn:hover{
    border: 1.5px solid coral;
    outline: none;
    background: coral;
    transform: scale(1.03);
}

/* development section styles here */

#development-section {
    width: 1140px;
    height: 1395px;
    left: 148px;
    right: 152px;
    top:857px;
    margin: 0 auto;
    padding: 80px 97px;
}

.development-title-content {
    width: 852px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.development-title-content h1 {
    font-size: 32px;
    font-weight: 800px;
    line-height: 37px;
    text-align: center;
    margin: 20px 0;
}

.development-title-content p {
    text-align: center;
    line-height: 24px;
}

.development-layer-1-container {
    width: 946px;
    height: 336px;
    display: flex;
    gap: 98.83px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px;
    margin: 32px 0;
}

.development-layer-1-left-content {
    width: 477px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 10px;
}

.development-layer-1-left-content h2,
.development-layer-2-right-content h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.development-layer-1-left-content p,
.development-layer-2-right-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0px;
}

.learn-more-btn {
    width: 160px;
    height: 48px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(13, 19, 33);
    opacity: 0.7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.development-layer-1-right-content {
    width: 259.56px;
    height: 217.01px;
}

.development-layer-2-container {
    width: 946px;
    height: 336px;
    display: flex;
    gap: 48px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px;
    margin: 32px 0;
}

.development-layer-2-left-content {
    width: 240px;
    height: 240px;
}

.development-layer-2-right-content {
    width: 477px;
    height: 140px;
}


/* ================ inspiration section container styles ===============*/
#my-inspiration {
    width: 1140px;
    height: 843px;
    margin: 0 auto;
}
.cards-container {
    margin: 111px 0px;
}
.inspiration-section-text-content,
.cards-section-title-content{
    width: 852px;
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0  auto;
}
.inspiration-section-text-content h1,
.cards-section-title-content h1 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.inspiration-section-text-content p,
.cards-section-title-content p {
    text-align: center;
    margin: 26px 0px;
}
.inspiration-section-youtube-content {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
    margin: 48px 0px;
}
.inspiration-section-youtube-content iframe {
    border-radius: 16px;
}


 
/*=============== cards section styles =========*/
#cards-section {
    width: 1140px;
    height: 460px;
    margin: 0 auto;
}
.cards-section-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.card-1-container {
    width: 364px;
    height: 299px;
    border-radius: 16px;
}
.card-1-container img {
    width: 56px;
    height: 56px;
    margin: 24px 0px;
}
.card-1-container h2 {
    font-size: 24px;
    font-weight: 800px;
    margin: 8px 0px;
}
.card-1-container p {
    opacity: 0.7;
    margin: 8px 0px;
}
.learn-more {
    font-weight: 700px;
    text-decoration: underline;
    margin: 24px 0px;
}
#card-1 {
    background: rgba(255, 76, 30,  0.05);
    padding: 40px;
    margin: 0px 24px;
}
#card-2 {
    background: rgba(0, 76, 232, 0.05);
    margin: 0px 24px;
    padding: 40px;
}

#card-3 {
    background: rgba(255, 223, 0, 0.05);
    margin: 0px 24px;
    padding: 40px;
}

/* support container styles  */
.supprt-container {
    width: 1140px;
    height: 313px;
    margin: 48px 0px;
    padding: 64px 48px;
    background-image: linear-gradient(
        0deg,
        rgb(16, 16, 16) 1.5%,
        rgba(16, 16, 16, 0) 120%
      ), url(../images/bg-image.jpg);
    display: flex;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(13, 19, 33, 0.2); 
    border-radius: 16px;
    margin: 0 auto;
    color: #fff;
    top: 120px;
}
.support-text-content {
    width: 730px;
    height: 104px;
    text-align: center;
    margin: 0 auto;
}
.support-content h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0;
    
}
.support-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    opacity: 0.7;
    padding: 20px;
}
.support-btn-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 19px 20px;
}

.btn-field input[type="text"]  {
    width: 548px;
    height: 57px;
    margin: 0px 16px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    padding: 19px 20px;

}
.submit-field input[type="submit"]{
    width: 120px;
    height: 57px;
    border-radius: 8px;
    padding: 17px 20px;
    margin: 9px 16px;
    font-weight: 800;
    font-size: 20px;
}